* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 6px;
}

body {
    font-family: 'EB Garamond', serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #D1B6E1;
;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

section {
    padding: 10rem 0rem;
    text-align: center;
}

.btn-large {
    font-size: 2rem;
    padding: 2.2rem 1.6rem;
    border-color: #fffff5;
}

.btn {
    margin-top: 2rem;
    font-weight: 400;
    display: inline-block;
    border: 2px solid #fffff5;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all .5s;
}

.btn-social {
    border-color: #285943;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    line-height: 2rem;
}

.btn-outline {
    color: #fffff5;
    background-color: transparent;
}

.btn-outline:hover {
    background-color: #fffff5;
    color: #C5C6B6;
}

.btn-primary {
    background-color: #ff5065;
    border-color: #C5C6B6;
    padding: 1.2rem 1rem;
    color: #fffff5;
}

.btn-primary:hover {
    background-color: #C5C6B6;
}

.img-fluid {
    max-width: 256px;
    height: auto;
    border-radius: 50%;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.column {
    float: left;
    width: 100%;
    padding: 1rem;
}

.text-uppercase {
    text-transform: uppercase;
}

/* Navbar */

nav {
    width: 100%;
    font-family: 'Dosis', sans-serif;
    background-color: #77AF9C;
    color: #fffff5;
    padding: 2rem 0rem;
    position: fixed;
    z-index: 500;
}

#logo-box {
    float: left;
    padding-top: 0.5rem;
}

#logo-box .logo {
    color: #fffff5;
    font-weight: 700;
    font-size: 3.5rem;
}

#nav-links {
    float: right;
}

#nav-links .nav-item {
    float: left;
    margin: 0.5rem;
}

#nav-links .nav-link {
    color: #fffff5;
    font-size: 1.7rem;
    font-weight: 700;
    display: block;
    padding: 1.6rem;
    letter-spacing: 0.1rem;
    transition: color 0.4s;
}

#nav-links .nav-link:hover {
    color: #C5C6B6;
}

#nav-links .nav-icon {
    display: none;
}

/*Header*/
header {
    background-color: #C5C6B6;
    height: 70rem;
    padding-top: calc(106px + 6rem);
    text-align: center;
}

header h1 {
    color: #fffff5;
    font-size: 6rem;
}

header h2 {
    color: #fffff5;
    font-size: 2.4rem;
    font-family: 'EB Garamond', serif;
}

hr.star-light {
    color: #fffff5;
}

hr.star-dark {
    color: #ff5065;
}

.star-light,
.star-dark {
    border: none;
    border-top: 0.4rem solid;
    max-width: 25rem;
    border-radius: 1rem;
    margin: 2.5rem auto;
    overflow: visible;
    height: 0;
}

.star-light::after {
    background-color: #C5C6B6;
}

.star-dark::after {
    background-color: #D1B6E1;
}

.star-light::after,
.star-dark::after {
    content: "\2603";
    font-weight: 900;
    font-size: 3.2rem;
    position: relative;
    top: -27px;
    padding: 0 8px;
}

/*PORTFOLIO*/
#portfolio h2 {
    font-size: 4.8rem;
    color: #ff5065;
}

.img-fluid-portfolio {
    max-width: 100%;
    height: auto;
}

.portfolio-item {
    position: relative;
}

.portfolio-item img {
    display: block;
    border-radius: 13px;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: cadetblue;
    opacity: 0;
    transition: 0.4s;
}

.img-overlay .icon {
    color: #fffff5;
    font-size: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*+ ı ortalar*/
}

.portfolio-item:hover .img-overlay {
    opacity: 0.8;
    border-radius: 13px;
}

/*About*/
#about {
    background-color: #C5C6B6;
    color: #fffff5;
}

#about h2 {
    font-size: 4.8rem;
}

#about-text {
    text-align: left;
}

#about-text .left {
    float: none;
    width: 100%;
    padding-right: 5px;
    padding-left: 25px;
}

#about-text .right {
    float: none;
    width: 100%;
    padding-left: 25px;
    padding-right: 5px;
}

#about-text .text {
    font-size: 2rem;
}

/*Contact Me*/

#contact h2 {
    font-size: 4.8rem;
    color: #ff5065;
}

#contact-form {
    width: 70%;
    margin: 0 auto;
    text-align: left;
}

.form-groups {
    border-bottom: 1.2px solid #c776f7;
    padding-bottom: 3rem;
    margin-bottom: 4rem;
}

.form-groups input,
.form-groups textarea {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    color:  #747474;
    border: none;
    width: 100%;
    background-color: #D1B6E1;
    display: block;
    font-size: 2.4rem;
}

.form-groups input:focus,
.form-groups textarea:focus {
    outline: 0;
}

/*Footer*/

footer {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #77AF9C;
    color: #fffff5;
    text-align: center;
}

footer h4{
    font-size: 2.4rem;
}

footer p {
    font-size: 2rem;
    margin-top: 1rem;
}

footer li {
    display: inline-block;
    margin-right: 1rem;
}

.copyright {
    background-color: #285943;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    color: #fffff5;
    text-align: center;
}

/*Responsive and MenuBar*/

@media (min-width:576px) {

    .container {
        max-width: 540px;
    }

    html {
        font-size: 7px;
    }
    
}

@media (min-width:768px) {

    .container {
        max-width: 720px;
    }

    html {
        font-size: 8px;
    }
    
    .column {
        width: 50%;
    }
}


@media (min-width:992px) {
    
    .container {
        max-width: 960px;
    }

    html {
        font-size: 9px;
    }

    .column {
        width: 33.333%;
    }

    #about-text .left{
        float: left;
        width: 50%;
        padding-right: 10px;
        padding-left: 210px;
    }

    #about-text .right{
        float: right;
        width: 50%;
        padding-right: 210px;
        padding-left: 10px;
    }
}


@media (min-width:1200px) {

    .container {
        max-width: 1140px;
    }
    
    html {
        font-size: 10px;
    }
}

@media (max-width: 992px) {
 
    #logo-box {
        float: none;
        text-align: left;
    }

    #nav-links {
        float: none;
    }
    
    #nav-links .nav-link{
        font-size: 2rem;
        padding-left: 0;
    }

    #nav-links .nav-item {
        float: none;
        text-align: left;
    }

    #nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 6px;
        font-size: 3rem;
    }

    #nav-links.responsive li:not(:first-child){
        display: none;
    }
}
