h2[title="title1"]{
    color: lightsalmon;
}

p[title="pr2"]{
    color: violet;
    font-size: medium;
    text-align: justify;
}

a[target="_blank"]{
    color: darkgreen;
}

input[type="text"]{
    background-color: aquamarine;
}
