* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 7px;
}
body{
    font-family: 'PT Serif', serif;
    color: azure;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    background-color: rgb(177, 127, 104);
}


a {
    text-decoration: none;
}

p{
    padding: 1.6rem 0;
}

img {
    width: 100%;
    height: auto;
}


.clearfix::after {
    content:"";
    display: block;
    clear: both;
}

header {
    height: 46rem;
}

header .bg-image {
    position: absolute;
    background-image: url(Images/1295976.png);
    background-size: cover;
    background-position: center;
    height: 46rem;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
}

header h1{
    padding: 12rem;
    padding-bottom: 0;
}

.button1 {
    display: inline-block;
    background-color: lightgrey;
    color: dimgray;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 50px;
    padding: 1.3rem 2.6rem;
    margin: .5rem 0;
    transition: all 0.4s;
}
.button1:hover {
    background-color: dimgray;
    color: lightgrey;
}

#section1 {
    background-color: rgb(251, 241, 230);
    color: rgb(103, 103, 103);
    padding: 3.2rem;
}
#section2 {
    padding: 2rem;
}

#section2 ul {
    list-style: none;
}

#section2 li {
    background: rgb(251, 241, 230);
    color: rgb(103, 103, 103);
    margin-bottom: 1.8rem;
}

.col-content {
    padding: 0.7rem;
}

#section3 {
    background-color: rgb(38, 77, 144);
    color: azure;
    padding: 5rem;
}

#section4 .box:first-child{
    padding: 5rem;
    background-color: rgb(66, 35, 66);
    color: azure;
}

#section4 .box:last-child{
    padding: 4rem;
    background-color: darkslategrey;
    color: azure;
}

footer {
    padding: 4rem;
    color: dimgray;
    background-color: rgb(251, 241, 230);
}

footer a {
    color: dimgray;
}

@media screen and (min-width:800px) {
    
    html {
        font-size: 9px;
    }
}

@media screen and (min-width:1200px) {
    
    html {
        font-size: 11px;
    }

    #section2 li {
        width: 28%;
        height: 73rem;
        margin: 1%;
        display: inline-block;
    }

    .box {
        width: 50%;
        float: left;
        height: 27rem;
    }

    img {
        width: 100%;
        height: 500px;
    }

    .col {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        align-items: start;
    }
}
